body { 
    background-color: whitesmoke;
}

h1, h2 {
    margin: 0;
    padding: 0;
    text-justify: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
}

h1 {
    text-decoration: underline;
}
#form {
    text-align: center;
}

.inputs {
    background-color: white;
    padding: 3rem 1rem;
   margin: 2rem auto;
    display: flex;
    justify-content: center;
  
    width: 50%;
    border-radius: 2rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.inputs input {
    width: 100%;
    border-radius: 2rem;
    padding: 0.2rem;
    background-color: rgb(214, 214, 214);
    border-style: none;
}
.inputs button {
    margin: 2rem 0 0 0;
    padding: 0.2rem 5rem;
    border-radius: 2rem;
    border-style: none;
    font-size: 1.4rem;
    background-color: tomato;
    color: white;
}

.results {
    background-color: white;
    padding: 3rem 1rem;
   margin: 2rem auto;
    display: flex;
    justify-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    border-radius: 2rem;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.results h2 {
    
    font-weight: bold;
}